@import '../../variables.scss';

.contact {
  margin-top: 14px;

  .title-row {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .contact-form-header {
    margin-top: 50px;
    padding-top: 14px;
    border-top: 1px solid $border-color;
  }

  .contact-form {
    margin-top: 14px;

    .form-label {
      color: $input-label-color;
    }

    input,
    textarea {
      background-color: $input-background-color;
    }

    .submit-button {
      margin-top: 14px;
      margin-bottom: 14px;
    }

    .btn-primary {
      background-color: #0054ad;
      border-color: #0054ad;
    }
  }
}
