@import '../../variables.scss';

.footer {
  background-color: $footer-background-color;
  padding-top: 10px;
  color: $nav-link-footer-color;

  h5 {
    color: $footer-text-color;
  }

  .contact-container {
    &.nav-items {
      text-align: center;
      .nav-link {
        color: $nav-link-footer-color;
        text-transform: uppercase;
        font-weight: $font-weight-400;
        font-size: 13px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.contact {
      .contact-link {
        padding-left: 6px;
        margin-bottom: 14px;
      }
    }

    &.social-links {
      text-align: center;
      .social-icons {
        display: inline-flex;
        justify-content: center;

        .col {
          max-width: 50px;
          padding: 0;
          margin: 0 8px;
        }
      }
    }

    .row {
      margin: 5px 0;
    }

    text-align: center;
  }

  a {
    color: $nav-link-footer-color;
  }

  .text-justify {
    text-align: justify;
  }
}
